@charset "utf-8";
$readorabackoffice-container-background: var(--bo-base-background);
$readorabackoffice-container-font-family: var(--bo-font-family);
$readorabackoffice-container-font-size: $font-size__base;
$readorabackoffice-label-text-color: var(--bo-text-color);
