.BottomHeaderSlot {
    width: 100%;
    background: #f4f4f4;
}

.cx-section {
    background-color: $white;
    border-radius: 1rem;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    padding: 1.875rem;
}