@import "../../styles-config";
@import "@spartacus/cart";

cx-mini-cart {
    a {
        color: #6A6A6A;;
        background: none;
        display: block;
    }
    a:hover{
        color: rgb(236, 133, 35);
    }
}